page-home {

  ion-header {
    .input-wrapper {
      height: 56px;
    }
  }

  .toolbar-title {
    padding-left: 2rem;
  }

  small {
    padding-left: 2rem;
    font-size: 1.5rem;
  }

  .create-note {
    z-index: 100;
  }
  
  .notes-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
