page-home {
  ion-header {
    .input-wrapper {
      height: 56px;
    }
  }

  .toolbar-title {
    padding-left: 2rem;
    font-family: 'Mali', cursive;
    font-weight: 600;
  }

  small {
    padding-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Mali', cursive;
  }

  .create-note {
    z-index: 100;
  }
  
  .notes-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  ion-item-sliding {
    border: 1px solid;

    border-image: linear-gradient(to right, #fff, #fbc02d, #fff) !important;
    border-image-slice: 1 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;

    .item-inner {
      border-bottom: none !important;
    }
    ion-item-options {
      border-bottom: none !important;
    }
  }
}
