page-note {
  .back-button {
    z-index: 100;
  }
  
  .note-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .scroll-content{
    padding-bottom: 0 !important;
  }

  .item-inner {
    padding: 0 !important;
  }

  .text-input {
    margin: 0;
  }

  textarea {
    width: 100% !important;
  }
}
